	<footer class="page-footer">
	  <div class="sponsors fixed-bottom ">
	  	<div class="center">
	  		<div class="row">
	  			<div class="s12 col white z-depth-1">
	  				<div class="row container">
	  					<h4>Realização</h4>
	  				</div>
	  				<div class="row container big" data-equalizer>
	  					<div class="center" data-equalizer-watch>
	  						<a href="http://scl.ifsp.edu.br/portal/" target="_blank">
	  							<img src="/images/site_ifsp.png" class="valign" alt="Site IFSP" title="Site IFSP">
	  						</a>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	</footer>
	  <script src="./javascripts/jquery-3.2.1.min.js"></script>
	  <script src="./javascripts/materialize-min.js"></script>
	  <script src="./javascripts/config-materialize.js"></script>
	  <script src="./javascripts/CPF.js"></script>
	</body>
</html>