<div ng-controller="support_controller">
	<script src="./services/supportAPI.js"></script>
	<script src="./controllers/support_controller.js"></script>
	<footer ng-if="supports.length > 0" class="page-footer">
		<div class="sponsors fixed-bottom" ng-cloak>
			<div class="center">
				<div class="row">
					<div class="col s12 white z-depth-1">
						<div class="row container">
							<h4>Apoio</h4>
						</div>
						<div class="col s12 support" ng-repeat="support in supports" ng-if="supports.length > 0">
							<div class="center">
								<a href="{{support.site}}" target="_blank">
									<img width="200" ng-src='{{support.photo}}'/>
								</a>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>	
</div>
