<% include navbar-user%>
<div ng-controller="programming_controller_user">
	<script src="./services/programmingAPI.js"></script>
	<script src="./controllers/programming_controller_user.js"></script>
	<% include components/preloader %>
	<div class="row" ng-cloak>
		<div class="s12 col">
			<div class="row container container-wecomp">
				<div class="col s12 m12 l10 offset-l1">
					<div ng-if="certificates.length > 0" class="center">
						<h4>Certificados</h4>
					</div>
					<div ng-if="certificates.length == null" class="center-align">
						<p>O certificados serão gerados após a semana da WeComp</p>
					</div>
					<div ng-if="certificates.length > 0" ng-cloak>
						<ul class="collection">
							<li ng-repeat="certificate in certificates" class="collection-item certificates-item">
								<span>{{certificate.title}}</span>
								<a ng-click="viewCertificate(certificate)" data-tooltip="Visualizar certificado" data-position="left" class="btn tooltipped btn-flat secondary-content btn-certificate" href=""><i class="material-icons right-align">crop_original</i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include components/footer%>