<% include components/header %>
<div ng-controller="login_controller">
	<script src="./controllers/login_controller.js"></script>
	<div ng-controller="programming_controller_user">
		<script src="./services/programmingAPI.js"></script>
		<script src="./services/loginAPI.js"></script>
		<script src="./controllers/programming_controller_user.js"></script>
		<main class="home">
			<form>
				<div class="hero parallax-container valign-wrapper" id="parallax-certificate">
				    <div class="container">
				        <div class="row center-align">
				        	<div class="s12 col">
				        		<div id="data-certificate">
					        		<h2><b>CERTIFICADO</b></h2>
					        		<h4>O Instituto Federal de São Paulo - Campus São Carlos</h4>
					        		<h5>certifica</h5>
					        		<h4><b>{{currentUser.name}}</b></h4>
					        		</br>
					           		<h5>Participou do evento <b>{{certificate.title}}</b>,</h5>
					           		<h5>com carga horária de <b>{{certificate.workload}}</b>,</h5>
					           		<h5>no dia <b>{{certificate.day}}</b>, no ambito do WeComp - Semana da Computação</h5>
				        		</div>
				          	</div>
				        </div>
				    </div>
				    <div class="parallax">
				        <img id="certificate-img" src="/images/Certificado.png">
				    </div>
			    </div>
			    <input class="btn secondary-content" type="button" name="imprimir" value="Imprimir" onclick="window.print();">	    
			</form>
		</main>
	</div>
</div>