<% include components/header %>
	<div ng-controller="certificates_controller_user">
		<script src="./services/certificateAPI.js"></script>
		<script src="./controllers/certificates_controller_user.js"></script>
		<div id="certificate" ng-cloak>
			<div class="center-align">
				<div id="data-certificate">
					<h2><b>CERTIFICADO</b></h2>
					<h4>O Instituto Federal de São Paulo - Campus São Carlos</h4>
					<h5>certifica</h5>
					<h5><b>{{certificate.name}}</b>, CPF nº <b>{{certificate.cpf}}</b>,</h5>
					<h5>participou do evento <b>{{certificate.title}}</b>,</h5> 
					<h5>com carga horária de <b>{{certificate.workload}}</b>, no dia <b>{{certificate.day}}</b>,</h5>
					<h5>no ambito do WeComp - Semana da Computação</h5>
				</div>
			</div>
		</div>
		<footer class="page-footer footer-certificate" ng-cloak>
			<div class="left-align">
				<a class="btn btn-primary center-block btn-download-certificate" ng-click="downloadCertificate()"><i class="material-icons right">file_download</i>BAIXAR</a>
			</div>
		</footer>
	</div>
	<script src="./javascripts/jquery-3.2.1.min.js"></script>
	<script src="./javascripts/jspdf.debug.js"></script>
	<script src="./javascripts/jspdf.min.js"></script>
	<script src="./javascripts/html2canvas.min.js""></script>
	<script src="./javascripts/materialize-min.js"></script>
  	<script src="./javascripts/config-materialize.js"></script>
	</body>
</html>
