<!DOCTYPE html>
    <html lang="pt-BR">
      <head>
        <meta charset="utf-8">
        <title><%= titulo %></title>
        <link href="./icons/icons.css" rel="stylesheet">
        <link href="./stylesheets/materialize-min.css" rel="stylesheet">
        <link href="./stylesheets/style.css" rel="stylesheet">

      </head>
    <body>