<!DOCTYPE html>
    <html class="no-js" lang="pt-BR" ng-app="prj_ifsp">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <title><%= titulo %></title>

            <link href="./icons/icons.css" rel="stylesheet">
            <link href="./stylesheets/materialize-min.css" rel="stylesheet">
            <link href="./stylesheets/style.css" rel="stylesheet">
            <link rel="shortcut icon" href="/images/logo_ifsp.png">

        </head>
        <body id="body" class="">
            <script src="./javascripts/angular.js"></script>
            <script>angular.module("prj_ifsp", []);</script>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
<<<<<<< HEAD
                        <a href="/" class="brand-logo"><img class="logo-wecomp-nav" src="/images/wecomp2.png" alt="WeComp"></a>
=======
                        <a href="/index" class="brand-logo"><img class="logo-wecomp-nav" src="/images/wecomp2.png" alt="WeComp"></a>
>>>>>>> 84322bc6a59fa88a680c67177cb46d1c1d9df225
                        <a href="#" data-activates="side-nav" class="button-collapse" onclick="openNav()"><i class="material-icons reset">menu</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li class=" "><a href="/programacao">Programação</a></li>
                            <li class=" "><a href="">Contato</a></li>
                            <li class=" "><a href="/login">Entrar</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        <!-- Off Canvas Menu -->
        <ul class="side-nav collapsible" id="side-nav" data-collapsible="expandable">
            <li class=" "><a class="closebtn" href="" onclick="closeNav()">&times;</a></li>
            <li class=" "><a href="/programacao">Programação</a></li>
            <li class=" "><a href="">Contato</a></li>
            <li class=" "><a href="/login">Entrar</a></li>
        </ul>