<% include navbar-pattern %>
  <main class="home" onclick="closeNav()">
    <div class="hero parallax-container valign-wrapper">
      <div class="container">
        <div class="row center-align">
          <div class="s12 col">
            <img class="logo-wecomp-main" src="/images/wecomp2.png" alt="WeComp">
            <h4 class="event-date">De 9 a 15 de novembro de 2018</h4>
            <a href="login" class="btn subscribe">Inscreva-se!</a> 
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="/images/ifsp.png" alt="IFSP">
      </div>
    </div>
    <div class="row">
    </div>
  </main>
<% include components/footer%>