<% include navbar-pattern %>
<div class="row">
	<div class="s12 col center">
		<div class="row container">
			<div class="col s12 m12 l12 offset-l0">
				<div class="card center card-localization">
					<div class="card-title">
						<h4>IFSP - São Carlos</h4>
					</div>
					<div class="card-action">
						<img class="materialboxed localization" width="75%" src="/images/localizacao.png" alt="Localização IFSP">
					</div>
					<div class="card-action">
						<b> Rodovia Washington Luís, km 235, S/N - Monjolinho, São Carlos - SP, 13565-905</b>
						<br>
						<b>Telefone - (16) 3351-9458</b>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>
<% include components/footer%>
