<% include navbar-pattern %>
<div ng-controller="login_controller">
  <script src="./services/loginAPI.js"></script>
  <script src="./controllers/login_controller.js"></script>
  <% include components/preloader %>
  <div class="row">
    <div class="center">
      <div class="col s12 offset-l2">
        <div class="col s12 m6 l4">
          <div class="card card-login-subscribe">
            <h4>Login</h4>
            <form ng-submit="signIn(user)">
              <div class="row-login">
                <div class="row">
                  <div class="input-field col s10">
                    <input id="userEmail" ng-model="user.email" type="email" class="validate" required>
                    <label for="userEmail">E-mail</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s10">
                    <input id="userPass" ng-model="user.password" type="password" class="validate" maxlength="8" size="8" required>
                    <label for="userPass">Senha</label>
                  </div>
                </div>
              </div>
              <div class="row recover-password">
                <div class="col s12">
                  <div class="col s12">
                    <button id="btn-login" class="waves-effect waves-light btn btn-login-subscribe" type="submit" name="action">Entrar</button> 
                  </div>
                  <div class="col s12">
                   <a class="center-align" href="/recuperarsenha">Esqueceu a senha?</a>
                 </div>
               </div>
             </div>
           </form>
         </div>
       </div>
       <div class="col s12 m6 l4">
        <div class="card card-login-subscribe">
          <h4>Inscreva-se</h4>
          <form ng-submit="registerUser(newUser)">
            <div class="row-login">
              <div class="row">
                <div class="input-field col s10">
                  <input id="userName" ng-model="newUser.name" type="text" class="validate" required>
                  <label for="userName">Nome</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <input id="newEmail" ng-model="newUser.email" type="email" class="validate" required>
                  <label for="newEmail">E-mail</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <input id="newPassword" ng-model="newUser.password" type="password" class="validate" maxlength="8" size="8" required>
                  <label for="newPassword">Senha (máximo de 8 caracteres)</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s10">
                  <input id="passwordConfirm" ng-model="newUser.passConfirm" type="password" class="validate" maxlength="8" size="8" required>
                  <label for="passwordConfirm">Confirmar senha</label>
                </div>
              </div>
            </div>
            <div class="center">
              <button id="btn-subscribe" class="waves-effect waves-light btn btn-login-subscribe" type="submit" name="action">Inscrever-se</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% include components/footer%>