<% include header %>
     <div class="Container">
        <div class="center">
          <div class="row">
              <div class="Col s12" id="icon-login">
                <i class="large material-icons">cloud_queue</i>
              </div>
              </div>
            </div>
          <div class="row">
            <div class="offset-m4 offset-l4 col s12 m4 l4">
              <div class="card">
              <div class="row center" id="login-text">
               <h4>Login</h4>
              </div>
                 <div class="row-login">
				    <form class="col s12">
				      <div class="row">
				        <div class="input-field col s10">
				          <input id="user" type="text" class="validate">
				          <label for="user">Usuário</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s10">
				          <input id="password" type="password" class="validate">
				          <label for="password">Senha</label>
				        </div>
				      </div>
				    </form>
				 </div>
                <div class="center">
                  <a id="btn-login" class="waves-effect waves-light btn"><i class="material-icons left">adb</i>Entrar</a>
                </div>
              </div>
              <div class="center">
                <p id="login-footer">PRJ São Carlos ©</p>
              </div>
            </div>
          </div>
        </div>
     <% include footer%>
