<% include header %>
  <div ng-controller="login_controller">
      <script src="./controllers/login_controller.js"></script>
      <div class="row">
      <div class="center">
        <div class="col s12 offset-l2">
          <div class="col s12 m6 l4">
            <div class="card login-subscribe">
              <h4>Login</h4>
              <form action="{{'/postLogin'}}" method="POST">
                <div class="row-login">
                    <div class="row">
                      <div class="input-field col s10">
                        <input id="userEmail" ng-model="user.email" type="text" class="validate">
                        <label for="userEmail">E-mail</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s10">
                        <input id="userPass" ng-model="user.password" type="password" class="validate">
                        <label for="userPass">Senha</label>
                      </div>
                    </div>
                </div>
                <div class="center">
                  <button id="btn-login" class="waves-effect waves-light btn btn-login-subscribe" type="submit">Entrar</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card login-subscribe">
              <h4>Inscreva-se</h4>
              <form>
                <div class="row-login">
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="userName" type="text" class="validate">
                      <label for="userName">Nome</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="userEmail" type="text" class="validate">
                      <label for="userEmail">E-mail</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="newPassword" type="password" class="validate">
                      <label for="newPassword">Senha</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="passwordConfirm" type="password" class="validate">
                      <label for="passwordConfirm">Confirmar senha</label>
                    </div>
                  </div>
                </div>
                <div class="center">
                  <button id="btn-subscribe" class="waves-effect waves-light btn btn-login-subscribe">Inscrever-se</button>
                </div>
              </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include footer%>