<% include navbar-pattern %>
  <div ng-controller="login_controller">
      <script src="./services/registerAPI.js"></script>
      <script src="./services/loginAPI.js"></script>
      <script src="./controllers/login_controller.js"></script>
      <% include components/preloader %>
      <div class="row">
      <div class="center">
        <div class="col s12 offset-l2">
          <div class="col s12 m6 l4">
            <div class="card login-subscribe">
              <h4>Login</h4>
              <form ng-submit="find(user)">
                <div class="row-login">
                    <div class="row">
                      <div class="input-field col s10">
                        <input id="userEmail" ng-model="user.email" type="email" class="validate" required>
                        <label for="userEmail">E-mail</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s10">
                        <input id="userPass" ng-model="user.password" type="password" class="validate" required>
                        <label for="userPass">Senha</label>
                      </div>
                    </div>
                </div>
                <div class="center">
                  <button id="btn-login" class="waves-effect waves-light btn btn-login-subscribe" type="submit" name="action">Entrar</button> 
                </div>
              </form>
              <button id="btn-teste" class="waves-effect waves-light btn btn-login-subscribe" ng-click="teste()">Teste</button>
            </div>
          </div>
          <div class="col s12 m6 l4">
            <div class="card login-subscribe">
              <h4>Inscreva-se</h4>
              <form ng-submit="register(newUser)">
                <div class="row-login">
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="userName" ng-model="newUser.name" type="text" class="validate" required>
                      <label for="userName">Nome</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="newEmail" ng-model="newUser.email" type="email" class="validate" required>
                      <label for="newEmail">E-mail</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="newPassword" ng-model="newUser.password" type="password" class="validate" required>
                      <label for="newPassword">Senha</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s10">
                      <input id="passwordConfirm" ng-model="newUser.passConfirm" type="password" class="validate" required>
                      <label for="passwordConfirm">Confirmar senha</label>
                    </div>
                  </div>
                </div>
                <div class="center">
                  <button id="btn-subscribe" class="waves-effect waves-light btn btn-login-subscribe" type="submit" name="action">Inscrever-se</button>
                </div>
              </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% include components/footer%>