<% include components/header %>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img class="logo-wecomp-nav" src="/images/wecomp2.png" alt="WeComp"></a>
            <a href="#" data-activates="side-nav" class="button-collapse" onclick="openNav()"><i class="material-icons reset">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class=" "><a href="/programacao">Programação</a></li>
                <li class=" "><a href="/localizacao">Localização</a></li>
                <li class=" "><a href="/login">Entrar</a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- Off Canvas Menu -->
<ul class="side-nav collapsible" id="side-nav" data-collapsible="expandable">
    <li class=" "><a class="closebtn" href="" onclick="closeNav()">&times;</a></li>
    <li class=" "><a href="/programacao">Programação</a></li>
    <li class=" "><a href="/localizacao">Localização</a></li>
    <li class=" "><a href="/login">Entrar</a></li>
</ul>