<% include navbar-pattern %>
<div ng-controller="programming_controller_pattern">
	<script src="./services/programmingAPI.js"></script>
	<script src="./services/loginAPI.js"></script>
	<script src="./controllers/programming_controller_pattern.js"></script>
	<% include components/preloader %>
	<div class="row" ng-cloak>
		<div class="s12 col">
			<div class="row container container-wecomp">
				<div class="col s12 m12 l10 offset-l1">
					<div ng-if="days.length == 0" class="center-align">
						<p>Nenhuma programação foi postada</p>
					</div>
					<div ng-if="days.length > 0" class="center">
						<h4>Programação</h4>
					</div>
					<div ng-repeat="day in days" ng-if="days.length != 0">		
						<ul class="collapsible">
							<li class="active">
								<div class="collapsible-header">
									<i id="icon-day" class="large material-icons">date_range</i>
									<p>{{day.day}}</p>
								</div>
								<div class="collapsible-body">
									<div ng-if="event.day == day.day" ng-repeat="event in events" class="card">
										<div class="card">
											<div class="card-event">
												<h4> {{event.title}} </h4>
												<p> Inicia às: {{event.hourStart}} | Termina às: {{event.hourFinish}}</p>
												<p> Palestrante:  {{event.speaker}} </p>
											</div>
											<div class="card-action">
												<div class="div-event">
													<a ng-click="openEventInfo(event)" class="btn tooltipped btn-flat btn-event" data-tooltip="Ver informações" data-position="top"><i class="material-icons" id="btn-viewevent-icon">visibility</i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pra visualizar informações do evento -->

	<div id="modalViewInfo" class="modal">
		<div class="modal-content">
			<div class="right-align">
				<a class="waves-effect waves-teal btn-flat modal-close"><i class="material-icons">close</i></a>
			</div>
			<div class="card-event">
				<h4> {{eventInfo.title}} </h4>
				<p> Inicia às: {{eventInfo.hourStart}} | Termina às: {{eventInfo.hourFinish}}</p>
				<p> Total de vagas: {{eventInfo.vacancies}} </p>
				<p> Sala: {{eventInfo.classroom}} </p>
				<p> Descrição: {{eventInfo.description}} </p>
				<p> Palestrante:  {{eventInfo.speaker}} </p>
				<div ng-if="eventInfo.photo">
					<img width="200" ng-src='{{eventInfo.photo}}'/>
				</div>
			</div>
		</div>
	</div>

<% include components/footer%>