<% include navbar-admin %>
<div ng-controller="programming_controller_admin">
	<script src="./services/programmingAPI.js"></script>
	<script src="./services/loginAPI.js"></script>
	<script src="./controllers/programming_controller_admin.js"></script>
	<% include components/preloader %>
	<div class="row" ng-cloak>
		<div class="s12 col">
			<div class="row container container-wecomp">
				<div class="col s12 m12 l10 offset-l1">
					<div ng-if="days.length == 0" class="center-align">
						<p>Nenhuma programação foi postada</p>
					</div>
					<div ng-if="days.length > 0" class="center">
						<h4>Programação</h4>
					</div>
					<div ng-repeat="day in days" ng-if="days.length != 0">		
						<ul class="collapsible">
							<li class="active">
								<div class="collapsible-header">
									<i id="icon-day" class="large material-icons">date_range</i>
									<p>{{day.dayFormat}}</p>
								</div>
								<div class="row config-programming">
									<a id="btn-add-event" ng-click="openModalEvent(day.day)" class="btn tooltipped btn-floating btn-small waves-effect waves-light secondary-content" data-tooltip="Cadastrar um evento" data-position="left"><i class="material-icons btn-day">add</i></a>
									<a id="btn-rmv-day" ng-click="confirmDeleteDay(day.day)" class="btn tooltipped btn-floating btn-small waves-effect waves-light secondary-content" data-tooltip="Excluir dia" data-position="left"><i class="material-icons btn-day">delete</i></a>
								</div>
								<div class="collapsible-body">
									<div class="center" ng-repeat="e in eventOnDays" ng-if="day.day == e.day && e.id == null">
										<p>Nenhum evento cadastrado</p>
									</div>
									<div ng-if="event.day == day.day" ng-repeat="event in events" class="card">
										<div class="card">
											<div class="card-event">
												<h4> {{event.title}} </h4>
												<p> Inicia às: {{event.hourStart}} | Termina às: {{event.hourFinish}} | Carga horária: {{event.workload}}</p>
												<p> Total de vagas: {{event.vacancies}} | Inscritos: {{event.vacanciesRemaining}}</p>
												<p> Palestrante:  {{event.speaker}} </p>
											</div>
											<div class="card-action">
												<div class="div-event">
													<a ng-click="openModalGenerateCertificate(event)" class="btn tooltipped btn-flat btn-event" data-tooltip="Gerar certificados" data-position="top"><i class="material-icons" id="btn-generate-certificate-icon">playlist_add_check</i></a>
													<a ng-click="openModalEditEvent(event)" class="btn tooltipped btn-flat btn-event" data-tooltip="Editar evento" data-position="top"><i class="material-icons" id="btn-edit-event-icon">edit</i></a>
													<a ng-click="confirmDeleteEvent(event)" class="btn tooltipped btn-flat btn-event" data-tooltip="Excluir evento" data-position="top"><i class="material-icons btn-event" id="btn-del-event-icon">delete</i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>	
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l10 offset-l4">
						<a ng-click="openModalDay()" class="btn tooltipped btn-floating btn-large waves-effect waves-light blue secondary-content" data-tooltip="Cadastrar um dia" data-position="left"><i class="material-icons btn-add-day">add</i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal para deletar dia -->

	<div id="modalDeleteDay" class="modal">
		<div class="modal-content center">
			<p>Tem certeza que deseja excluir esse dia? {{removeDay}} </p>
		</div>
		<div class="modal-footer">
			<a href="" class="modal-action modal-close waves-effect btn-flat btn-flat-del" ng-click="deleteDay(removeDay)">Confirmar</a>
			<a href="" class="modal-action modal-close waves-effect btn-flat btn-flat-del">Cancelar</a>
		</div>
	</div>

	<!-- Modal para deletar evento -->

	<div id="modalDeleteEvent" class="modal">
		<div class="modal-content center">
			<p>Tem certeza que deseja excluir esse evento? {{removeEvent.title}} </p>
		</div>
		<div class="modal-footer">
			<a href="" class="modal-action modal-close waves-effect btn-flat btn-flat-del" ng-click="deleteEvent(removeEvent.id)">Confirmar</a>
			<a href="" class="modal-action modal-close waves-effect btn-flat btn-flat-del">Cancelar</a>
		</div>
	</div>

	<!-- Modal para criar dia -->

	<div id="modalRegisterDay" class="modal col s12 m12 l12">
		<div class="modal-content date">
			<div class="modal-header center">
				<h4 class="modal-title modalTitle">Cadastrar Dia</h4>
			</div>
			<form id="formDay" ng-submit="createDay(newDay)">
				<div class="modal-body">
					<div class="row">
						<div class="col s12 m12 l12">
							<div class="form-group col s12">
								<label for="day">Data</label>
								<input ng-model="newDay" type="text" class="datepicker" id="day" required>
							</div>
						</div>
					</div>	
				</div>				
				<div class="modal-footer">
					<div class="col s8 center">
						<button type="submit" name="action" class="btn btn-primary center-block">Cadastrar</button>
						<a class="btn btn-primary center-block modal-close">Cancelar</a>
					</div>	
				</div>
			</form>
		</div>
	</div>

	<!-- Modal para gerar certificados -->

	<div id="modalGenerateCertificate" class="modal col s12 m12 l12">
		<div class="modal-content">
			<div class="modal-header center">
				<h4 class="modal-title modalTitle">Gerar certificados</h4>
				<span>{{title}}</span>
			</div>
			<div  class="modal-body">
				<div class="row">
					<div class="col s12" ng-if="subscriber.length==null">
						<p class="center">Não há inscritos</p>
					</div>
					<div ng-repeat="sub in subscriber" class="col s12 m12 l12 certificate">
						<div class="form-group col s12">
							<div class="col s8">
								<p>{{sub.name}}</p>
							</div>	
							<div ng-if="sub.presence==0" class="col s4 certificate-checkbox">
								<input ng-model="sub.selected" type="checkbox" id="check-{{subscriber.indexOf(sub)}}" name="checkPersons" value={{sub.email}} class="filled-in" ng-checked="sub.checked"/>
								<label for="check-{{subscriber.indexOf(sub)}}">Selecionar</label>
							</div>
							<div ng-if="sub.presence!=0" class="col s4 certificate-checkbox">
								<label class="certificate-generated">Certificado já gerado</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="col s8 center">
					<button ng-click="getSelectedPersons()" ng-if="subscriber.length!=null" class="btn btn-primary center-block">Gerar</button>
					<a class="btn btn-primary center-block modal-close">Cancelar</a>
				</div>	
			</div>
		</div>
	</div>

	<!-- Modal para criar evento -->

	<div id="modalRegisterEvent" class="modal col s12 m12 l12">
		<div class="modal-content">
			<div class="modal-header center">
				<h4 class="modal-title modalTitle">Cadastrar Evento</h4>
			</div>
			<div class="card-action"></div>
			<form ng-submit="createEvent(newEvent)" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="row">
						<div class="col s12 m12 l12">
							<div class="row">
								<div class="input-field col s6">
									<input ng-model="newEvent.hourStart" type="text" name="hour-start" class="timepicker validate" id="hour-start" required>
									<label for="hour-start">Inicia às</label>
								</div>
								<div class="input-field col s6">
									<input ng-model="newEvent.hourFinish" type="text" name="hour-finish" class="timepicker validate" id="hour-finish" required>
									<label for="hour-finish">Termina às</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s6">
									<input ng-model="newEvent.vacancies" type="number" name="vacancies" class="validate" id="vacancies" required>
									<label for="vacancies">Vagas</label>
								</div>
								<div class="input-field col s6">
									<select id="class-room" ng-model="newEvent.classroom" class="validate" required>
										<option value="" disabled selected>Sala</option>
										<option value="C103">C103</option>
										<option value="C104">C104</option>
										<option value="C105">C105</option>
										<option value="C106">C106</option>
										<option value="C107">C107</option>
									</select>
								</div>
							</div>
							<div class="input-field col s12">
								<input ng-model="newEvent.title" type="text" name="title" class="validate" id="title" required>
								<label for="title">Titulo do evento</label>
							</div>
							<div class="input-field col s12">
								<textarea ng-model="newEvent.description" id="description" class="materialize-textarea validate" required></textarea>
								<label for="description">Descrição do evento</label>							
							</div>
							<div class="input-field col s12">
								<input ng-model="newEvent.speaker" type="text" name="name-speaker" class="validate" id="name-speaker" required>
								<label for="name-speaker">Nome do palestrante</label>
							</div>
							<div class="input-field col s12">
								<div class="file-field input-field">
									<div class="btn btn-photo">
										<span>Foto</span>
										<input id="speaker-photo" ng-model="newEvent.photo" name="file" type="file" accept="image/*">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path" placeholder="Foto do(a) palestrante" type="text">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col s8 center">
						<button type="submit" name="action" class="btn btn-primary center-block">Cadastrar</button>
						<a class="btn btn-primary center-block modal-close">Cancelar</a>	
					</div>	
				</div>
			</form>
		</div>
	</div>

	<!-- Modal para editar evento -->

	<div id="modalEditEvent" class="modal col s12 m12 l12">
		<div class="modal-content">
			<div class="modal-header center">
				<h4 class="modal-title modalTitle">Editar Evento</h4>
			</div>
			<div class="card-action"></div>
			<form ng-submit="updateEvent(editEvent)" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="row">
						<div id="div-edit-event" class="col s12 m12 l12">
							<div class="row">
								<div class="input-field col s6">
									<input ng-model="editEvent.hourStart" type="text" name="edit-hour-start" class="timepicker validate" id="edit-hour-start" required>
									<label class="active" for="edit-hour-start">Inicia às</label>
								</div>
								<div class="input-field col s6">
									<input ng-model="editEvent.hourFinish" type="text" name="edit-hour-finish" class="timepicker validate" id="edit-hour-finish" required>
									<label class="active" for="edit-hour-finish">Termina às</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s6">
									<input ng-model="editEvent.vacancies" type="number" name="edit-vacancies" class="validate" id="edit-vacancies" required>
									<label class="active" for="edit-vacancies" active>Vagas</label>
								</div>
								<div class="input-field col s6">
									<select id="edit-class-room" ng-model="editEvent.classroom" class="validate" required>
										<option value="" disabled selected>Sala</option>
										<option value="C103">C103</option>
										<option value="C104">C104</option>
										<option value="C105">C105</option>
										<option value="C106">C106</option>
										<option value="C107">C107</option>
									</select>
								</div>
							</div>
							<div class="input-field col s12">
								<input ng-model="editEvent.title" type="text" name="edit-title" class="validate" id="edit-title" required>
								<label class="active" for="edit-title">Titulo do evento</label>
							</div>
							<div class="input-field col s12">
								<textarea ng-model="editEvent.description" id="edit-description" class="materialize-textarea validate" required></textarea>
								<label class="active" for="edit-description">Descrição do evento</label>							
							</div>
							<div class="input-field col s12">
								<input ng-model="editEvent.speaker" type="text" name="edit-name-speaker" class="validate" id="edit-name-speaker" required>
								<label class="active" for="edit-name-speaker">Nome do palestrante</label>
							</div>
							<div ng-show="editEvent.photo==''">
								<div class="file-field input-field col s12">
									<div class="btn btn-photo">
										<span>Foto</span>
										<input id="edit-speaker-photo" ng-model="newEvent.photo" name="file" type="file" accept="image/*">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path" placeholder="Foto do(a) palestrante" type="text">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-if="editEvent.photo" class="row">
						<div class="col s4 offset-s7">
							<a ng-click="removePhoto(editEvent)" class="btn-floating btn-remove-photo"><i class="material-icons">close</i></a>
							<label>Excluir foto</label>
						</div>
						<div class="col s12 center">
							<img id="img-edit" width="180" ng-src='{{editEvent.photo}}'/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col s8 center">
						<button type="submit" name="action" class="btn btn-primary center-block">Atualizar</button>
						<a class="btn btn-primary center-block modal-close">Cancelar</a>	
					</div>	
				</div>
			</form>
		</div>
	</div>

</div>
<% include components/footer%>