<% include navbar-user %>
<div ng-controller="programming_controller_user">
	<script src="./services/programmingAPI.js"></script>
	<script src="./controllers/programming_controller_user.js"></script>
	<% include components/preloader %>
	<div class="row" ng-cloak>
		<div class="s12 col">
			<div class="row container container-wecomp">
				<div class="col s12 m12 l10 offset-l1">
					<div ng-if="days.length == 0" class="center-align">
						<p>Nenhuma programação foi postada</p>
					</div>
					<div ng-if="days.length > 0" class="center">
						<h4>Programação</h4>
					</div>
					<div ng-repeat="day in days" ng-if="days.length != 0">		
						<ul class="collapsible">
							<li class="active">
								<div class="collapsible-header">
									<i id="icon-day" class="large material-icons">date_range</i>
									<p>{{day.dayFormat}}</p>
								</div>
								<div class="collapsible-body">
									<div class="center" ng-repeat="e in eventOnDays" ng-if="day.day == e.day && e.id == null">
										<p>Nenhum evento cadastrado</p>
									</div>
									<div ng-if="event.day == day.day" ng-repeat="event in events" class="card">
										<div class="card">
											<div class="card-event">
												<h4> {{event.title}} <span class="span-subs" ng-if="subscriber[events.indexOf(event)].idevent == event.id" >Inscrito <i class="material-icons">check</i></span></h4>
												<p> Inicia às: {{event.hourstart}} | Termina às: {{event.hourfinish}} | Carga horária: {{event.workload}}</p>
												<p> Total de vagas: {{event.vacancies}} | Inscritos: {{event.vacanciesremaining}}</p>
												<p> Palestrante:  {{event.speaker}} </p>
											</div>
											<div class="card-action">
												<div class="div-event">
													<a ng-if="subscriber[events.indexOf(event)].idevent != event.id && event.vacanciesremaining != event.vacancies" ng-click='addSubscription(event.id)' class="btn tooltipped btn-flat btn-event" data-tooltip="Inscrever-se" data-position="top"><i class="material-icons" id="btn-register-event-icon">add</i></a>
													<span ng-if="event.vacanciesremaining == event.vacancies">Total de vagas preenchidas</span>
													<a ng-if="subscriber[events.indexOf(event)].idevent == event.id" ng-click='confirmDeleteSubscription(event)' class="btn tooltipped btn-flat btn-event" data-tooltip="Excluir inscrição" data-position="top"><i class="material-icons" id="btn-remove-event-icon">remove</i></a>
													<a ng-click="openEventInfo(event)" class="btn tooltipped btn-flat btn-event" data-tooltip="Ver informações" data-position="top"><i class="material-icons" id="btn-view-event-icon">info_outline</i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pra visualizar informações do evento -->

	<div id="modalViewInfo" class="modal">
		<div class="modal-content">
			<div class="right-align">
				<a class="waves-effect waves-teal btn-flat modal-close"><i class="material-icons">close</i></a>
			</div>
			<div class="card-event">
				<h4> {{eventInfo.title}} </h4>
				<p> Inicia às: {{eventInfo.hourstart}} | Termina às: {{eventInfo.hourfinish}} | Carga horária: {{eventInfo.workload}}</p>
				<p> Total de vagas: {{eventInfo.vacancies}} | Inscritos: {{eventInfo.vacanciesremaining}}</p>
				<p> Sala: {{eventInfo.classroom}} </p>
				<p> Descrição: {{eventInfo.description}} </p>
				<p> Palestrante:  {{eventInfo.speaker}} </p>
				<div ng-if="eventInfo.photo">
					<img width="200" ng-src='{{eventInfo.photo}}'/>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal para remover inscrição -->

	<div id="modalRemoveSubscription" class="modal">
		<div class="modal-content center">
			<p>Tem certeza que deseja remover sua inscrição?</p>
		</div>
		<div class="modal-footer">
			<a href="" class="modal-action modal-close waves-effect btn-flat btn-flat-del" ng-click="removeSubscription()">Confirmar</a>
			<a href="" class="modal-action modal-close waves-effect btn-flat btn-flat-del">Cancelar</a>
		</div>
	</div>
</div>	
<% include components/footer%>