<% include navbar-pattern %>
	<div class="container-wecomp" ng-controller="programming_controller">
		<script src="./services/programmingAPI.js"></script>
		<script src="./services/loginAPI.js"></script>
     	<script src="./controllers/programming_controller.js"></script>
		<% include components/preloader %>
		<div class="row" ng-cloak>
			<div class="s12 col">
				<div class="row container">
					<div class="col s12 m12 l10 offset-l1">
						<div ng-if="days.length == 0" class="center-align">
							<p>Nenhuma programação foi postada</p>
						</div>
						<div ng-if="days.length > 0" class="center">
							<h4>Programação</h4>
						</div>
						<div ng-repeat="day in days" ng-if="days.length != 0">		
							<ul class="collapsible">
								<li class="active">
									<div class="collapsible-header">
										<i class="material-icons">date_range</i>
										<b>{{day.day}}</b>
									</div>
									<div class="row config-programming">
										<a id="btn-add" ng-click="openModalEvent()" class="btn tooltipped btn-floating btn-small waves-effect waves-light blue secondary-content" data-tooltip="Cadastrar um evento" data-position="left"><i class="material-icons">add</i></a>
									</div>
									<div class="collapsible-body">
										<div ng-if="event.day == day.day" ng-repeat="event in events" class="card">
											<div class="card-action">
												<span class="card-title activator grey-text text-darken-4">{{event.title}} {{event.hourStart}} {{event.hourFinish}} {{event.speaker}}</span>		
											</div>
										</div>
									</div>
								</li>
							</ul>	
						</div>
					</div>

					<div class="row">
						<div class="col s12 m12 l10 offset-l4">
							<a ng-click="openModalDay()" class="btn tooltipped btn-floating btn-large waves-effect waves-light blue secondary-content" data-tooltip="Cadastrar um dia" data-position="left"><i class="material-icons">add</i></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="modalRegisterEvent" class="modal col s12 m12 l12">
			<div class="modal-content">
				<div class="modal-header center">
					<h3 class="modal-title" id="myModalLabel">Cadastrar evento</h3>
				</div>
				<div class="card-action"></div>
					<form ng-submit="registerEvent(newEvent)" method="POST">
						<input type="hidden" name="id" id="id"/>
						<div class="modal-body">
							<div class="row">
								<div class="col s12 m12 l12">
									<div class="row">
										<div class="input-field col s6">
											<input ng-model="newEvent.hourStart" type="text" name="hour-start" class="timepicker validate" id="hour-start">
											<label for="hour-start">Horário início</label>
										</div>
										<div class="input-field col s6">
											<input ng-model="newEvent.hourFinish" type="text" name="hour-finish" class="timepicker validate" id="hour-finish">
											<label for="hour-finish">Horário término</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s6">
											<input ng-model="newEvent.vacancies" type="number" name="vagas" class="validate" id="vagas">
											<label for="vagas">Numéro de vagas</label>
										</div>
										<div class="input-field col s6">
										    <select ng-model="newEvent.classroom" class="validate">
										      <option value="" disabled selected>Sala do evento</option>
										      <option value="1">C103</option>
										      <option value="2">C104</option>
										      <option value="3">C105</option>
										      <option value="4">C106</option>
										      <option value="5">C107</option>
										    </select>
										</div>
									</div>
									<div class="input-field col s12">
										<input ng-model="newEvent.title" type="text" name="title" class="validate" id="title">
										<label for="title">Titulo do evento</label>
									</div>
									<div class="input-field col s12">
										<textarea ng-model="newEvent.description" id="description" class="materialize-textarea validate"></textarea>
										<label for="description">Descrição do evento</label>							
									</div>
									<div class="input-field col s12">
										<input ng-model="newEvent.speaker" type="text" name="name-speaker" class="validate" id="name-speaker">
										<label for="name-speaker">Nome do palestrante</label>
									</div>
									<div class="input-field col s12">
										<div class="file-field input-field">
										    <div class="btn">
										        <span>Foto do palestrante</span>
											    <input  type="file">
										    </div>
									    	<div class="file-path-wrapper">
									        	<input ng-model="newEvent.image" fclass="file-path" type="text">
									    	</div>
									    </div>
									</div>

								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="col s8 center">
								<a class="btn btn-primary center-block modal-close">Cancelar</a>	
								<button type="submit" name="action" class="btn btn-primary center-block">Cadastrar</button>
							</div>	
						</div>
					</form>
			</div>
		</div>

		<div id="modalRegisterDay" class="modal col s12 m12 l12">
			<div class="modal-content date">
				<div class="modal-header center">
					<h3 class="modal-title" id="myModalLabel">Cadastrar dia</h3>
				</div>
				<form ng-submit="registerDay(newDay)">
					<div class="modal-body">
						<div class="row">
							<div class="col s12 m12 l12">
								<div class="form-group col s12">
									<label for="day">Data</label>
									<input ng-model="newDay" type="text" class="datepicker" id="day">
								</div>
							</div>
						</div>	
					</div>				
					<div class="modal-footer">
						<div class="col s8 center">
							<a class="btn btn-primary center-block modal-close">Cancelar</a>	
							<button type="submit" name="action" class="btn btn-primary center-block">Cadastrar</button>
						</div>	
					</div>
				</form>
			</div>
		</div>
	</div>

<% include components/footer%>