<% include navbar-pattern %>
<div class="recover" ng-controller="login_controller">
  <script src="./services/loginAPI.js"></script>
  <script src="./controllers/login_controller.js"></script>
  <% include components/preloader %>
  <div class="row">
    <div class="center-align">
      <div class="col s12">
        <div class="col m12 l6 offset-l3">
          <div class="card card-login-subscribe">
            <h4>Recuperar Senha</h4>
            <form ng-submit="recoverPassword(email)">
              <div class="row-login">
                <div class="row">
                  <div class="input-field col s10">
                    <input id="recoverEmail" ng-model="email" type="email" class="validate" required>
                    <label for="recoverEmail">E-mail cadastrado</label>
                    <p class="center-align">Um código de recuperação será enviado para o seu e-mail!</p>
                  </div>
                </div>
              </div>
              <div class="row recover-password">
                <div class="col s12">
                  <div class="col s12">
                    <button id="btn-login" class="waves-effect waves-light btn btn-login-subscribe" type="submit" name="action">Enviar</button> 
                  </div>
                  <div class="col s12">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include components/footer%>