<% include navbar-admin %>
	<div ng-controller="support_controller">
		<script src="./services/supportAPI.js"></script>
		<script src="./controllers/support_controller.js"></script>
		<% include components/preloader %>
		<div class="row container container-wecomp" ng-cloak>
			<div class="col s12">
				<div ng-if="supports.length == 0" class="center-align">
					<p>Nenhum apoio foi cadastrado</p>
				</div>
				<div ng-if="supports.length > 0" class="center">
					<h4>Apoio</h4>
				</div>
				<div class="center" ng-repeat="support in supports" ng-if="supports.length > 0">
					<div class="card">
						<div class="secondary-content">
							<a ng-click="deleteSupport(support.id)" class="btn-floating tooltipped btn-remove-photo" data-tooltip="Excluir apoio" data-position="left"><i class="material-icons">close</i></a>
						</div>
						<div>	
							<a href="{{support.site}}" target="_blank">
								<img width="200" ng-src='{{support.photo}}'/>
							</a>							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l10 offset-l4">
						<a ng-click="openModalSupport()" class="btn tooltipped btn-floating btn-large waves-effect waves-light secondary-content" data-tooltip="Cadastrar um apoio" data-position="left"><i class="material-icons btn-add-day">add</i></a>
					</div>
				</div>	
			</div>
		</div>				

		<!-- Modal para criar evento -->

		<div id="modalRegisterSupport" class="modal col s12 m12 l12">
			<div class="modal-content">
				<div class="modal-header center">
					<h4 class="modal-title modalTitle">Cadastrar apoio</h4>
				</div>
				<form class="col s12 center" ng-submit="createSupport(newSupport)">
					<div class="modal-body">
						<div class="row">
							<div class="input-field col s12">
								<input ng-model="newSupport.site" placeholder="Digite o site sem http://" type="text" name="support-site" class="validate" id="support-site">
								<label for="name-speaker">Site do apoio</label>
							</div>
							<div class="input-field col s12">
								<div class="file-field input-field">
									<div class="btn btn-photo">
										<span>Imagem</span>
										<input id="support-photo" ng-model="newSupport.photo" name="file" type="file" accept="image/*">
									</div>
									<div class="file-path-wrapper">
										<input class="file-path" placeholder="Imagem do logo" type="text" required>
									</div>
								</div>
							</div>
						</div>	
					</div>				
					<div class="modal-footer">
						<div class="col s8 center">
							<button type="submit" name="action" class="btn btn-primary center-block">Cadastrar</button>
							<a class="btn btn-primary center-block modal-close">Cancelar</a>
						</div>	
					</div>
				</form>
			</div>
		</div>
	</div>
<% include components/footer%>