body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F8FF;
}

/*-- Componentes --*/

#preloader {
  position: fixed;
  z-index: 399;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  @media (min-width: $min-desktop-size) {
    left: 0;
  }
  &.with-sidebar {
    @media (min-width: $min-desktop-size) {
      left: 240px;
    }
  }
}

.side-nav li>a {
  font-size: 20px;
}

.side-nav a:hover {
  background-color: rgba(0,0,0,0.10);
}
.side-nav li>a:hover {
  background-color: rgba(0,0,0,0.10);
}

.side-nav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 225px;
}

.container-wecomp {
  min-height: calc(100vh - 29rem);
}

.container-wecomp h4{
  color: #26a69a;
}

.logo-wecomp-nav {
  width: 150px;
  margin-top: 12px;
  margin-left: 12px;
}

.logo-wecomp-main {
  width: 65%
}

.nav-wrapper {
  background-color: #cc3300;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  color: #8c8c8c;
}

/*-- Index --*/

.event-date {
  color: #ffffff;
  margin-top: 0;
}

.subscribe {
  background-color: #cc3300;
}

.subscribe:hover{
  background-color: #ff4000;
}

/*-- Login --*/

.row-login {
  margin-left: 13%;
}

.btn-login-subscribe {
  margin-top: 5%;
  margin-bottom: 9%;
}

.card-login-subscribe h4 {
  padding-top: 5%;
  color: #26a69a;
}

/*-- Programação --*/

.modal {
  max-height: 90%;
}

#modalRegisterDay{
  height: 550px;
}

.date{
  margin-top: 10%;
}

.config-programming{
  margin: auto;
  height: 54px;
}

.collapsible-body{
  padding-top: 0;
}

#btn-add{
  margin-top: 5px;
  margin-right: 18px;
}

/*-- Localização --*/

.localization{
  margin: auto;
}

.card-localization h4{
  padding-top: 2%;
  color: #26a69a;
}

.card-localization b{
  color: #4d4d4d;
}

#toast-container {
  bottom: 84%;
}

/*-- Footer --*/

.page-footer {
  background-color: unset;
  font-family: sans-serif;
  color: #8c8c8c;
}

.page-footer h4 {
  font-family: sans-serif;
  color: #4d4d4d;
}
