body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F8FF;
}

/*-- Componentes --*/

#preloader{
  position: fixed;
  z-index: 399;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  @media (min-width: $min-desktop-size) {
    left: 0;
  }
  &.with-sidebar{
    @media (min-width: $min-desktop-size) {
      left: 240px;
    }
  }
}

#dropdown1 li{
  background-color: #ff531a;
}

#dropdown1 li>a{
  color: #fff;
}

#dropdown1 li>a:hover{
  background-color: #e63900;
  color: #fff;
}

.user-name{
  min-width: 9rem;
}

.side-nav li>a{
  font-size: 20px;
}

.side-nav a:hover{
  background-color: rgba(0,0,0,0.10);
}

.side-nav li>a:hover{
  background-color: rgba(0,0,0,0.10);
}

.side-nav .closebtn{
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 225px;
}

.container-wecomp{
  min-height: calc(100vh - 22rem);
}

.container-wecomp h4{
  color: #26a69a;
}

.logo-wecomp-nav{
  width: 150px;
  margin-top: 12px;
  margin-left: 12px;
}

.logo-wecomp-main{
  width: 65%
}

.nav-wrapper{
  background-color: #cc3300;
}

p{
  font-size: 20px;
  font-family: sans-serif;
  color: #8c8c8c;
}

/*-- Index --*/

.event-date{
  color: #ffffff;
  margin-top: 0;
}

.subscribe{
  background-color: #cc3300;
}

.subscribe:hover{
  background-color: #ff4000;
}

/*-- Login --*/

.row-login{
  margin-left: 13%;
}

.btn-login-subscribe{
  margin-top: 5%;
  margin-bottom: 9%;
}

.card-login-subscribe h4{
  padding-top: 5%;
  color: #26a69a;
}

.recover-password{
  padding: 10px;
}

.recover{
  margin-bottom: 12rem;
}

/*-- Minha Conta --*/

.current-user{
  margin-top: -2%;
}

.card.current-user{
  margin-top: 4%;
}

.current-user h1{
  font-family: cursive;
  color: #13534d;
}

.card.current-user p{
  color: #404040;
}

.person-profile{
  color: #e64d00;
}

/*-- Programação --*/

#formDay{
  margin-top: 7rem;
}

.card-event{
  padding: 1rem;
  margin-left: 1rem;
}

.card-event h4{
  color: #2d862d;
}

.modalTitle{
  color: #26a69a;
}

.card-event p{
  color: #4d4d4d;
}

.btn-event{
  border-radius: 50%;
}

#btn-edit-event-icon, #btn-del-event-icon, #btn-view-event-icon, #btn-edit-profile-icon, #btn-generate-certificate-icon{
  font-size: 2.3rem;
  color: #999999;
  width: 10px;
}

#btn-edit-event-icon:hover, #btn-del-event-icon:hover, #btn-view-event-icon:hover, #btn-edit-profile-icon:hover, #btn-generate-certificate-icon:hover{
  color: #666666;
}

#btn-register-event-icon{
  font-size: 2.3rem;
  color: #00b3b3;
  width: 10px;
}

#btn-register-event-icon:hover{
  color: #006666;
}

#btn-remove-event-icon{
  font-size: 2.3rem;
  color: #ff1a1a;
  width: 10px;
}

#btn-remove-event-icon:hover{
  color: #b30000;
}

.btn-event:hover{
  background-color: #ffffff;
}

.div-event{
  text-align: right;
}

#icon-day{
  font-size: 4rem;
  margin-right: 3rem;
  color: #e64d00;
}

#modalRegisterDay{
  height: 550px;
}

#modalRegisterEvent, #modalEditEvent{
  max-height: 85%;
}

.date{
  margin-top: 10%;
}

.config-programming{
  margin: auto;
  height: 54px;
}

.collapsible-body{
  padding-top: 0;
}

#btn-add-event{
  margin-top: 6px;
  margin-right: 18px;
}

#btn-rmv-day{
  margin-top: 6px;
  margin-right: 5px;
}

.btn-day{
  background-color: #999999;
}

.btn-day:hover{
  background-color: #666666;
}

.btn-add-day{
  background-color: #e64d00;
}

.btn-add-day:hover{
  background-color: #993300;
}

.btn-photo{
  background-color: #ff531a;
}

.btn-photo:hover{
  background-color: #e63900;
}

.btn-flat-del{
  font-weight: bold;
}

.btn-flat-del:hover{
  background-color: #e0e0e0;
}

.btn-remove-photo{
  background-color: #f44336;
  width: 37px;
  height: 37px;
  border-radius: 0%;
  margin-bottom: 10px;
}

.btn-remove-photo:hover{
  background-color: #da190b;
}

.span-subs{
  font-size: 18px;
  color: #00b3b3;
}

/*-- Certificados --*/

.certificate{
  border-bottom: solid 1px;
  border-color: #cccccc;
}

.certificate-checkbox{
  margin-top: 25px;
  margin-bottom: 10px;
}

.certificate-generated{
  font-size: .99rem;
}

.certificates-item{
  height: 4.5rem;
}

.certificates-item span{
  font-size: 1.5rem;
  font-family: cursive;
  color: #8c8c8c;
}

.btn-certificate{
  background-color: #e64d00;
}

.btn-certificate:hover{
  background-color: #993300;
}

#modalCertificate{
  background-image: url("/images/Certificado.png");
  background-repeat: no-repeat, repeat;
  top: 0;
  bottom: 65px;
  width: 73%;
  height: 96%;
  max-height: 100%;
}

/*-- Localização --*/

.localization{
  margin: auto;
}

.card-localization h4{
  padding-top: 2%;
  color: #26a69a;
}

.card-localization b{
  color: #4d4d4d;
}

#toast-container{
  bottom: 84%;
}


/*-- Footer --*/

.page-footer{
  background-color: unset;
  font-family: sans-serif;
  color: #8c8c8c;
}

.page-footer h4{
  font-family: sans-serif;
  color: #4d4d4d;
}
